.form-label {
    @apply block uppercase tracking-wide text-xs font-bold mb-2;
}

.form-input {
    @apply font-thin appearance-none w-full py-2 px-3 bg-gray-100 shadow-sm rounded border border-white transition-all duration-200 ease-in-out focus:outline-none focus:bg-white focus:border-gray-500 hover:border-gray-500 hover:bg-white disabled:bg-gray-400 disabled:border-white disabled:cursor-not-allowed;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/></svg>");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

input[type="date"] {
    height: 2.375rem;
}